<div class="p-4">
  <h4 class="fst-italic"><%= t 'articles.elsewhere' %></h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/EdinhoLopes/" target="_blank">GitHub</a></li>
    <li><a href="https://www.youtube.com/watch?v=rCwMlbpC7dU&list=PLqsayW8DhUmv49CBT7AvetMplBViAcwuk&index=2" target="_blank">Curso Rails 6</a></li>
  </ol>
</div>