<div class="p-4">
  <h4 class="fst-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/EdinhoLopes/blogstrap", target="_blank">GitHub</a></li>
    <li><a href="https://www.facebook.com/edson.lopes.7906932", target="_blank">Facebook</a></li>
  </ol>
</div>